<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput  (dateChange)="changeEvent($event)" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>




<!-- npm i moment -->
<!-- npm i @angular/material-moment-adapter -->

<!-- <div [formGroup]="form">
  <mat-form-field [appearance]="setAppearance()" style="width: 100% !important;">
    <input [formControlName]="field.key" [id]="field.id" [matDatepicker]="picker"
           [min]="field.min" [max]="field.max"
           matInput readonly (click)="disable || readOnly ? doNothing() : picker.open()">
    <mat-datepicker-toggle [hidden]="readOnly || disable" [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker="matDatepicker"></mat-datepicker>
    <button
      matSuffix
      *ngIf="!readOnly && form.get(field.key).value"
      mat-icon-button
      aria-label="Clear"
      (click)="resetForm(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <p *ngIf="(disable || readOnly) && field.tempValue">(পেন্ডিং: {{field.tempValue | date: 'dd/MM/yyyy' }})</p>
</div> -->
