
<nav>
  <ul class="pagination">
    <li class="page-item"
        
        [ngClass]="{disabled : currentPage === 0}"
        >
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <ng-container *ngFor="let img of images;let i = index">
      <li class="page-item"
      [ngClass]="{active : i == currentPage}"
       *ngIf="i<3"
      >
      <a (click)="currentPage=i" class="page-link">{{i + 1}}</a>
    </li>
    </ng-container>

    <li class="page-item"
        [ngClass]="{disabled : currentPage === images.length-1}"
      >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4 appClass [backgroundColor]=" 'red' ">{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url"/>
</div>

<!-- <div [ngSwitch]="currentPage+1">
    <div *ngSwitchCase="1">
      current Page is One
    </div>
    <div *ngSwitchCase="2">
      current Page is Two
    </div>
    <div *ngSwitchCase="3">
      current Page is Three
    </div>
    <div *ngSwitchDefault>
      currentPage not found
    </div>
</div> -->

