
.modal{
  height: 200px;
  width: 600px;
  bottom: auto!important;
  left: auto!important;
  right: auto!important;
  top: auto!important;

}


i.close.icon::before {
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  color: black;
  left: -30px;
  top: 45px;
}
