<div (click)="onCloseClick()" class="ui dimmer visible active">
  <div id="myModal" (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="onCloseClick()" class="ui close icon"></i>
    <div class="header">
      <ng-content select="[modalTitle]"></ng-content>
    </div>
    <div class="content">
       <ng-content></ng-content>
    </div>
    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div>
