<div class="container">
  <h3>Payment Form</h3>
</div>
<div class="row">
    <div class="form-group col">
      <label><b>Received Name:</b></label>
      <input class="form-control" type="text" (input)="onNameChange($event.target.value)"/>
    </div>
    <div class="col">
      <label><b>Name:</b></label><br/>
      {{name |titlecase}}
    </div>
</div>

<div class="row">
  <div class="form-group col">
    <label><b>Received Date:</b></label>
    <input class="form-control" type="date" (input)="onDateChange($event.target.value)"/>
  </div>
  <div class="col">
    <label><b>Date:</b></label><br/>
    {{date | date: 'MMMM d y'}}
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label><b>Amount:</b></label>
    <input class="form-control" type="text" (input)="onAmountChange($event.target.value)"/>
  </div>
  <div class="col">
    <label><b>Currency:</b></label><br/>
    {{amount | currency}}
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label><b>Height:</b></label>
    <input class="form-control" type="text" (input)="onHeightChange($event.target.value)"/>
  </div>
  <div class="col">
    <label><b>Height:</b></label><br/>
    {{height | number : '1.1-2'}}
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <label><b>miles:</b></label>
    <input class="form-control" type="text" (input)="onMilesChange($event.target.value)"/>
  </div>
  <div class="col">
    <label><b>Kilometer:</b></label><br/>
    {{miles | convert: 'km'}}
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <!--  -->
  </div>
  <div class="col">
    <label><b>Json:</b></label><br/>
    {{car | json}}
  </div>
</div>
