<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input-sm inputType="text" label="username" [control]="authForm.get('username')"></app-input-sm>
  <!-- {{authForm.get('username').errors | json}} -->
  <app-input-sm inputType="password" label="password" [control]="authForm.get('password')"></app-input-sm>
  <!-- {{authForm.get('password').errors | json}} -->
  <app-input-sm inputType="password" label="password Confirmation" [control]="authForm.get('passwordConfirmation')"></app-input-sm>
  <!-- {{authForm.get('passwordConfirmation').errors | json}} -->

  <div class="ui red basic label" *ngIf="authForm.get('password').touched && authForm.get('passwordConfirmation').touched && authForm.errors">
        <p *ngIf="authForm.errors.passwordsDontMatch">
          Password and password Confirmation must match
        </p>
        <p *ngIf="authForm.errors.noConnection">
          No internet connection detected
        </p>
        <p *ngIf="authForm.errors.unknownError">
          Failed to sign up
        </p>
  </div>

  <button class="ui submit button primary" type="submit">Submit</button>
  <!-- {{authForm.errors | json}} -->
</form>
