<p>{{data.length}}</p>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Word Count</th>
      <th>Snippet</th>
  </tr></thead>
  <tbody>
    <tr *ngFor="let obj of data;let i = index">
      <td >{{obj.title}}</td>
      <td >{{obj.wordcount}}</td>
      <td [innerHTML]="obj.snippet"></td>
    </tr>
  </tbody>
</table>

