
<div class="field">
  <label>{{label}}</label>
  <input [type]="inputType" [formControl]="control" />
  <div *ngIf="showError()" class="ui pointing red basic label">
    <p *ngIf="control.errors.required">
      Value is required
    </p>
    <p *ngIf="control.errors.minlength">
      Value you entered is
      {{control.errors.minlength.actualLength}}
      characters long,but it must be at aleast
      {{control.errors.minlength.requiredLength}}
      characters
    </p>
    <p *ngIf="control.errors.maxlength">
      Value you entered is
      {{control.errors.maxlength.actualLength}}
      characters long,but it cannot be longer then
      {{control.errors.maxlength.requiredLength}}
      characters
    </p>
    <p *ngIf="control.errors.pattern">
      invalid format
    </p>
  </div>
</div>
