<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Close</button>
</div>
