
<p>
PDF Viewer :)
</p>
<!-- <div>
  <iframe src="pdfUrl" type="application/pdf"></iframe>
</div> -->
<!-- <div>
  <ngx-extended-pdf-viewer [src]="pdfUrl" [useBrowserLocale]="true" [delayFirstView]="250" height="80vh"></ngx-extended-pdf-viewer>
</div> -->


<!-- <div *ngIf="src">
  <ngx-extended-pdf-viewer
    *ngIf="!isImage" [height]="'80vh'" [showPrintButton]="false"
    [language]="'en-US'"
    [filenameForDownload]="file.name" [showOpenFileButton]="false"
    [src]="file" [useBrowserLocale]="true">
  </ngx-extended-pdf-viewer>
  <ngx-gallery
    *ngIf="isImage && galleryImage"
    [options]="galleryOptions"
    [images]="galleryImage">
  </ngx-gallery>
</div> -->

<!-- npm i ngx-extended-pdf-viewer -->
