

<!--
<app-input
 [form]="myForm"
 [field]="field"
 [disable]="false"
 [readOnly]="false"
 [visible]="true"
 type="text"
 id="1"
 key="name"
 max="30"
 min="0"
 maxLength="30"
 minLength="0"
 toolTip=""
 pattern=""
 placeholder="Name"
 [required]="true"
>
</app-input> -->

<app-divider>icon Component</app-divider>
<app-icon color="primary" label="grade"></app-icon>
<app-divider>badge Component</app-divider>
<app-badge badgeNumber="5" badgePossition="" badgeColor="warn" label="Notifications"></app-badge>
<app-divider>spinner Component</app-divider>
<app-spinner></app-spinner>
<app-divider>ToolBar Component</app-divider>
<app-toolbar label="toolBar" color="primary" [data]="toolBarData"></app-toolbar>


<app-divider>Card Component</app-divider>
<app-cards>
  <div title>Demo</div>
  <div content>This is the card content</div>
  <div actions>
    <button class="ui red button">cancel</button>
    <button class="ui green button">OK</button>
  </div>
</app-cards>

<app-divider>stepper Component</app-divider>
<app-stepper></app-stepper>

<app-divider>dropdown Component</app-divider>
<app-dropdown></app-dropdown>


<app-divider>Autocomplete Component</app-divider>
<app-autocomplete></app-autocomplete>


<app-divider>Checkbox Component</app-divider>
<app-checkbox></app-checkbox>

<app-divider>RadioButton Component</app-divider>
<app-radio-button></app-radio-button>


<app-divider>DatePicker Component</app-divider>
<app-date-picker></app-date-picker>


<app-divider>Snackbar Component</app-divider>
<app-snackbar></app-snackbar>


<app-divider>Dialog Component</app-divider>
<app-dialog></app-dialog>

<app-divider>Data Table Component</app-divider>
<app-data-table></app-data-table>

<app-divider>Slide Toggle Component</app-divider>
<app-slide-toggle></app-slide-toggle>


<app-divider>TimePicker Component</app-divider>
<app-time-picker></app-time-picker>


<app-divider>FileUpload Component</app-divider>
<app-file-upload [hidden]="false" [disable]="false"></app-file-upload>


<app-divider>pdfViewer Component</app-divider>
<app-pdf-viewer></app-pdf-viewer>

<app-divider>Form Component</app-divider>
<form formGroup="myForm" (submit)="onSubmit($event)">

  <app-input  inputType="text" label="username" [control]="myForm.get('name')"></app-input>

  <br/>
  <app-button inputType="submit" [isDisable]="true" className="ui submit button primary" buttonName="Submit"></app-button>
</form>

<!-- <app-button (emmiter)="emitedValue($event)" [form]="myForm" inputType="submit" className="ui submit button primary" buttonName="Submit"></app-button> -->
