<mat-spinner></mat-spinner>

<!-- 
<div *ngIf="isLoaderActive() && isLoading" class="customOverlay">
  <img src="assets/img/brand/loader_colored.gif" class="spinner" style="height: 200px; width: 200px">
</div> -->
