
<app-divider>
  Reactive Form Component
</app-divider>
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-creditcard-input label="Name" [control]="cardForm.get('name')"></app-creditcard-input>
  <app-creditcard-input label="Card Number" [control]="cardForm.get('cardNumber')"></app-creditcard-input>
  <app-creditcard-input label="Expiration (MM/YY)" [control]="cardForm.get('expiration')"></app-creditcard-input>
  <app-creditcard-input label="SecurityCode" [control]="cardForm.get('securityCode')"></app-creditcard-input>
  <br />
  <button class="button is-primary" style="margin-right: 4px;" [disabled]="cardForm.invalid" type="submit">Submit</button>
  <button class="button is-warning" (click)="onReset()" type="button">Reset</button>
</form>
<div>
  form content: {{cardForm.value | json}}
</div>

<div>
  form is valid: {{cardForm.valid}}
</div>

<div>
  errors around name : {{cardForm.controls.name.errors | json}}
</div>

<app-divider>
  Template driven Form Component
</app-divider>

<form #emailForm="ngForm" (ngSubmit)="templateOnSubmit(emailForm.value)">
  <div class="field">
    <label class="label">Email</label>
    <input
      class="input"
      type="email"
      pattern=".+@.+\..+"
      name="email"
      [(ngModel)]="email"
      #emailControl="ngModel"
      [ngClass]="{'is-danger': emailControl.invalid && emailControl.touched && emailControl.dirty}"
      required
      />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched && emailControl.dirty">
          <div class="help is-danger" *ngIf="emailControl.errors?.required">
              you must enter an email
          </div>
          <div class="help is-danger" *ngIf="emailControl.errors?.pattern">
            please enter an valid Email
          </div>
      </ng-container>
      <button class="button is-primary" [disabled]="emailForm.invalid">Submit</button>
    </div>
</form>
<div>Is form valid- {{emailForm.valid}}</div>
<div>form value- {{emailForm.value |json }}</div>
