<mat-toolbar [color]="color" class="navbar">
  <div>{{label}}</div>
  <div>
    <span *ngFor="let obj of data;let i=index">

      <a style="color: aliceblue;" [href]="obj.href">{{obj.name}} </a>
    </span>
  </div>

</mat-toolbar>
