<mat-card>
  <mat-card-title>
    <ng-content select="[title]"></ng-content>
  </mat-card-title>
  <mat-card-content>
        <ng-content select="[content]"></ng-content>
  </mat-card-content>

  <mat-card-actions align="end">
    <ng-content select="[actions]"></ng-content>
  </mat-card-actions>
</mat-card>
