


<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [value]="selectedValue">
    <mat-option>None</mat-option>
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
  </mat-select>
</mat-form-field>
<br/>
<mat-form-field >
  <mat-label>Favorite food</mat-label>
  <mat-select [value]="selectedFoodValue">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
