

<app-divider>Array.prototype.length <br/>returns the number of elements in that array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{array.length}}</b>
<app-divider>Array.prototype.at <br/>The at() method takes an integer value and returns the item at that index, allowing for positive and negative integers. Negative integers count back from the last item in the array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output -
<app-divider>Array.prototype.concat <br/>The concat() method is used to merge two or more arrays.</app-divider>
ArrayList - [<b>{{array1}}]</b>,[<b>{{array2}}]</b><br/>
Output - <b>{{array1.concat(array2)}}</b>

<app-divider>Array.prototype.entries <br/>The entries() method returns a new Array Iterator object that contains the key/value pairs for each index in the array.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output -<br> <b *ngFor="let element of array1.entries(); let i = index">
    {{element}}<br/>
</b>

<app-divider>Array.prototype.every() <br/>The every() method tests whether all elements in the array pass the test implemented by the provided function. It returns a Boolean value.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{every}}</b>

<app-divider>Array.prototype.fill() <br/>The fill() method changes all elements in an array to a static value, from a start index (default 0) to an end index (default array.length). It returns the modified array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{fill}}</b>

<app-divider>Array.prototype.filter() <br/>The filter() method creates a new array with all elements that pass the test implemented by the provided function.Function is a predicate, to test each element of the array. Return a value that coerces to true to keep the element, or to false otherwise.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{filter}}</b>

<app-divider>Array.prototype.find() <br/>The find() method returns the value of the first element in the provided array that satisfies the provided testing function. If no values satisfy the testing function, undefined is returned.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{find}}</b>
<app-divider>Array.prototype.findIndex() <br/>The findIndex() method returns the index of the first element in the array that satisfies the provided testing function. Otherwise, it returns -1, indicating that no element passed the test.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{findIndex}}</b>
<app-divider>Array.prototype.flat() <br/>The flat() method creates a new array with all sub-array elements concatenated into it recursively up to the specified depth.</app-divider>
ArrayList - [<b>{{array3}}]</b><br/>
Output - <b></b>
<app-divider>Array.prototype.forEach() <br/>The forEach() method executes a provided function once for each array element.</app-divider>
ArrayList - [<b>{{array3}}]</b><br/>
Output - <b></b>
<app-divider>Array.prototype.includes() <br/>The includes() method determines whether an array includes a certain value among its entries, returning true or false as appropriate.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{includes}}</b>

<app-divider>Array.prototype.indexOf() <br/>The indexOf() method returns the first index at which a given element can be found in the array, or -1 if it is not present.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output - <b>{{indexof}}</b>

<app-divider>Array.prototype.Array() <br/>The Array.isArray() method determines whether the passed value is an Array.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output - <b>{{indexof}}</b>


<app-divider>Array.prototype.join() <br/>The join() method creates and returns a new string by concatenating all of the elements in an array (or an array-like object), separated by commas or a specified separator string. If the array has only one item, then that item will be returned without using the separator.</app-divider>
ArrayList - [<b>{{elements}}]</b><br/>
Output - <b>{{join}}</b>

<app-divider>Array.prototype.keys() <br/>The keys() method returns a new Array Iterator object that contains the keys for each index in the array.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output - <b></b>

<app-divider>Array.prototype.map() <br/>The map() method creates a new array populated with the results of calling a provided function on every element in the calling array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{map1}}</b>

<app-divider>Array.prototype.pop() <br/>The pop() method removes the last element from an array and returns that element. This method changes the length of the array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{pop}}</b>

<app-divider>Array.prototype.push() <br/>The push() method adds one or more elements to the end of an array and returns the new length of the array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{push}}</b>

<app-divider>Array.prototype.reduce() <br/> reduce() is to return the sum of all the elements in an array.</app-divider>
ArrayList - [<b>{{array}}]</b><br/>
Output - <b>{{reduce}}</b>

<app-divider>Array.prototype.reverse() <br/> The reverse() method reverses an array in place. The first array element becomes the last, and the last array element becomes the first.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output - <b>{{array1.reverse()}}</b>

<app-divider>Array.prototype.shift() <br/> The shift() method removes the first element from an array and returns that removed element. This method changes the length of the array.</app-divider>
ArrayList - [<b>]</b><br/>
Output - <b></b>

<app-divider>Array.prototype.slice() <br/> The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</app-divider>
ArrayList - [<b></b><br/>
Output - <b></b>

<app-divider>Array.prototype.some() <br/> The some() method tests whether at least one element in the array passes the test implemented by the provided function. It returns true if, in the array, it finds an element for which the provided function returns true; otherwise it returns false. It doesn't modify the array.</app-divider>
ArrayList - [<b></b><br/>
Output - <b></b>

<app-divider>Array.prototype.splice() <br/> The splice() method changes the contents of an array by removing or replacing existing elements and/or adding new elements in place. To access part of an array without modifying it, see slice().</app-divider>
ArrayList - [<b>]</b><br/>
Output - <b></b>

<app-divider>Array.prototype.toString() <br/> The toString() method returns a string representing the specified array and its elements.</app-divider>
ArrayList - [<b>{{array1}}]</b><br/>
Output - <b>{{array1.toString()}}</b>


