<p>data-c works!</p>
{{message}}
<app-data-b (eventEmitter)="sendData($event)"></app-data-b>

<div *ngFor="let obj of receiveData;let i=index">
    <p>{{obj.oid}}</p>
    <p>{{obj.name}}</p>
    <p>{{obj.dept}}</p>
    <p>{{obj.empid}}</p>
</div>
