<div class="ui statistics">
  <div class="statistic" *ngFor="let obj of data;let i = index">
    <div class="value">
     {{obj.value}}
    </div>
    <div class="label">
      {{obj.label}}
    </div>
  </div>
</div>
