<mat-slide-toggle
    (change)="onChange($event)"
    [checked]="isChecked">
  Slide me!
</mat-slide-toggle>
<section>
  {{ isChecked }}
</section>

<!--
<mat-slide-toggle [formControl]="toogle">
  Slide me!
</mat-slide-toggle> -->

<!-- toogle = new FormControl('', []);
ngOnInit():void {
  this.toogle.valueChanges.subscribe(newToogleValue=> {
     console.log("toogleValue", newToogleValue);
  });
} -->
