
<app-divider>
  Table Component
</app-divider>

<app-table class="striped celled" [data]="data" [headers]="headers"></app-table>
<app-divider>
  tab menu
</app-divider>
<app-tabs>
  <a
        class="item"
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Bio
      </a>
      <a
        class="item"
        routerLink="./companies"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Companies
      </a>
      <a
        class="item"
        routerLink="./partners"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Partners
      </a>
</app-tabs>


