<div class="field">
  <label class="label">{{label}}</label>
  <input class="input" [formControl]="control" [ngClass]="{'is-danger': showError()}"/>
  <ng-container *ngIf="control.dirty  &&  control.errors && control.touched ">
    <div class="help is-danger" *ngIf="control.errors.required">
      {{label}} is required
    </div>

    <div class="help is-danger" *ngIf="control.errors.minlength">
      value you entered is
      {{control.errors.minlength.actuallength}}
      characters long, but it must be at least
      {{control.errors.minlength.requiredlength}}
      characters
    </div>

    <div class="help is-danger" *ngIf="control.errors.maxlength">
      value you entered is
      {{control.errors.minlength.actuallength}}
      characters long, but it cannot be longer then
      {{control.errors.minlength.requiredlength}}
      characters
    </div>

    <div class="help is-danger" *ngIf="control.errors.pattern">
      Invalid format
    </div>
  </ng-container>
</div>
