
<!-- single checkbox -->
<!-- <section class="example-section">
  <mat-checkbox class="example-margin" [(ngModel)]="checked" (change)="change()"
                [disabled]="disable || readOnly"></mat-checkbox>
</section> -->



<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<section *ngFor="let item of list">
  <mat-checkbox [checked]="item.value" (change)="toggle($event)">{{item.key}}</mat-checkbox>
</section>





<!-- <div [formGroup]="form">
  <mat-form-field style="width: 100%;">
    <mat-select [formControlName]="field.key" multiple (selectionChange)="setSelection($event)">
      <mat-option *ngFor="let item of field.items" [value]="item.value">{{item.nameBn}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="disable || readOnly">
    <div *ngIf="field.tempValue">
      <p>(পেন্ডিং: {{tempItems}})</p>
    </div>
  </div>
</div> -->
