<app-divider>Modal Component</app-divider>
<button class="ui basic button" (click)="onClick()">Show Modal</button>
<app-modal (close)="onModalCloseClick($event)" *ngIf="openModal">

  <div modalTitle>
    This is Modal
  </div>
  <p>
    Some content for the modal window should go right here!!
  </p>

  <div modalFooter>
    <div class="ui button" (click)="onClick()">OK</div>
  </div>
</app-modal>

<app-divider>Accordial Component</app-divider>
<app-accordian [data]="accrodianItems"></app-accordian>

<app-divider>SearchBar Component</app-divider>
<app-search-bar (submited)="onTerm($event)" ></app-search-bar>
<app-page-list [data] = "pages"></app-page-list>
