
<!-- *ngIf="!hidden; else showFile" -->
  <div >
    <button (click)="file.click()" [disabled]="disabled" class="col-md-12" mat-stroked-button
            matTooltip="আপলোড করুন">
      <mat-icon>
        <!--      <i class="icon-arrow-up-circle icons font-2xl d-block"></i>-->
        <i class="material-icons font-2xl d-block">file_upload</i>
      </mat-icon>
      ফাইল আপলোড
      <input
        #file
        (change)="fileInput(file.files)"
        accept="application/pdf, image/png, image/jpeg, image/jpg"
        style="display: none;"
        type="file"/>
    </button>
    <p *ngIf="fileOid">{{getFileName()}}</p>
  </div>
  <!-- <ng-template #showFile>
     *ngIf="field && field.value"
    <button
      *ngIf="true"
      class="btn btn-transparent"
      (click)="viewFile()"
      style="color: black; text-decoration:underline; padding-left: unset !important;">
      {{'ফাইলটি দেখুন'}}
    </button>
  </ng-template> -->

