

<!-- <mat-tab-group>
  <mat-tab label="First"> >Dynamic </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<div class="ui container">
  <div class="ui secondary pointing menu">

    <a routerLink="/" class="item">Angular Email</a>
    <a routerLink="/collections/collections" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Collections</a>
    <a routerLink="/data-transfer/a" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Data Transfer</a>
    <a routerLink="/dynamic/dynamic-home" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Dynamic</a>
    <a routerLink="/javascript/javascript-home" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">JavaScript</a>
    <a routerLink="/rxjs/rxjs-home" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">RXJS</a>
    <ng-container *ngIf="signedin">
      <a routerLink="/elements/elements" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}" >Elements</a>
      <a routerLink="/collections/collections" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Collections</a>
      <a routerLink="/views/views" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Views</a>
      <a routerLink="/mods/mods" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">modals</a>
      <a routerLink="/creditcard/cardform" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">forms</a>
    </ng-container>


    <div class="right menu">
      <ng-container *ngIf="signedin">
        <a class="ui item" routerLink="/index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Index</a>
        <a class="ui item" routerLink="/signout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sign Out</a>
      </ng-container>
      <ng-container *ngIf="!signedin">
        <a class="ui item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sign In</a>
        <a class="ui item" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sign Up</a>
      </ng-container>
    </div>
  </div>

  <div class="ui segment">
    <router-outlet></router-outlet>
    <!-- <app-forecast></app-forecast> -->
  </div>
</div>



<!-- <app-password-generate></app-password-generate> -->

 <!-- <app-pages></app-pages> -->
<!--
<div class="active">
  <app-card
  *ngFor="let post of posts;let i = index"
  [title]="posts[i].title"
  [imageurl]="posts[i].imageurl"
  [username]="posts[i].username"
  [content]="posts[i].content"
>
</app-card>
</div> -->



<!-- for example ng-content -->
<!-- <app-card>
  <form>
    <h3>Form</h3>
    <div>
      <label>name:</label>
      <input type="text" class="" />
      <button type="submit">submit</button>
    </div>
  </form>
</app-card> -->

<!-- <app-examples-pipe></app-examples-pipe> -->

<!-- <div>
  Ng-template Content
  <div *ngIf="false else showNgTemplateContent">
     Shouldn't be displayed
  </div>
</div>

<ng-template #showNgTemplateContent> Should be displayed
</ng-template> -->
