<mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed=false>
    <p>Shipping Address Details</p>

  </mat-step>
  <mat-step label="Billing Address" completed=false>
    <p>Billing Address Details</p>
  </mat-step>
  <mat-step label="Place Order" completed=false>
    <p>Place Order</p>
  </mat-step>
</mat-horizontal-stepper>
