<div class="ui items">
  <div class="item" *ngFor="let item of data;let i = index">
    <div class="image">
      <img [src]="item.image">
    </div>
    <div class="content">
      <a class="header">{{item.title}}</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
