<!-- <div [formGroup]="form" [hidden]="field.hasOwnProperty('visible') && !field.visible">
  <mat-form-field [appearance]="setAppearance()" [ngStyle]="{'width': field.type === 'text-number' ? '50%' : '100%' }">
    <input [formControlName]="field.key" id="{{field.id}}" [placeholder]="field.placeholder"
           [readonly]="disable || field.readOnly" [required]="field.required"
           [pattern]="field.pattern" [max]="field.max" [min]="field.min"
           [maxLength]="field.maxLength" [minLength]="field.minLength"
           [type]="field.type" matInput style="padding-right: 10px" [matTooltip]="field.toolTip">
  </mat-form-field>
  <p *ngIf="disable && (field.tempValue !== null && field.tempValue !== undefined)">(পেন্ডিং: {{field.tempValue}})</p>
</div> -->

<!-- <div [formGroup]="form" [hidden]="!visible">
  <mat-form-field [appearance]="setAppearance()" [ngStyle]="{'width': type === 'text-number' ? '50%' : '100%' }">
    <input [formControlName]="key" id="{{id}}" [placeholder]="placeholder"
           [readonly]="disable || readOnly" [required]="required"
           [pattern]="pattern" [max]="max" [min]="min"
           [maxLength]="maxLength" [minLength]="minLength"
           [type]="type" matInput style="padding-right: 10px" [matTooltip]="toolTip">
  </mat-form-field>

</div> -->

<div class="form-group">
  <label>{{label}}</label>
  <mat-form-field [appearance]="setAppearance()" [ngStyle]="{'width': type === 'text-number' ? '50%' : '100%' }">
    <input [formControl]="control"
           [readonly]="disable || readOnly" [required]="required"
           [type]="inputType" matInput style="padding-right: 10px">
  </mat-form-field>
  <div *ngIf="showError()" class="ui pointing red basic label">
    <p *ngIf="control.errors.required">
      Value is required
    </p>
    <p *ngIf="control.errors.minlength">
      Value you entered is
      {{control.errors.minlength.actualLength}}
      characters long,but it must be at aleast
      {{control.errors.minlength.requiredLength}}
      characters
    </p>
    <p *ngIf="control.errors.maxlength">
      Value you entered is
      {{control.errors.maxlength.actualLength}}
      characters long,but it cannot be longer then
      {{control.errors.maxlength.requiredLength}}
      characters
    </p>
    <p *ngIf="control.errors.pattern">
      invalid format
    </p>
  </div>
</div>

