
<h3>Sign In</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input-sm inputType="text" label="username" [control]="authForm.get('username')"></app-input-sm>
  <!-- {{authForm.get('username').errors | json}} -->
  <app-input-sm inputType="password" label="password" [control]="authForm.get('password')"></app-input-sm>
   <div *ngIf="authForm.errors.credentials" class="ui red basic label">
     <p>
       Invalid username and password
     </p>
   </div>
  <button class="ui submit button primary" type="submit">Submit</button>
</form>
