<div class="ui styled accordion">
  <ng-container *ngFor="let item of data; let i=index">
    <div
      [ngClass]="{active: i === openItemIndex}"
      class="title"
      (click)="onClick(i)">
      <i class="dropdown icon"></i>
      {{item.title}}
    </div>
    <div [ngClass]="{active: i === openItemIndex}" class="content">
      <p >
        {{item.content}}
     </p>
    </div>
  </ng-container>
</div>
