<app-divider>Statistic Component</app-divider>
<app-statistic [data]="stats" ></app-statistic>

<app-divider>Item List Component</app-divider>
<app-item-list [data]="items"></app-item-list>

<app-divider>photos Component</app-divider>
<app-photos></app-photos>
