<mat-radio-group aria-label="Select an option">
  <mat-radio-button [checked]="true" value="1" (change)="onChange($event)">Option 1</mat-radio-button>
  <mat-radio-button value="2" (change)="onChange($event)">Option 2</mat-radio-button>
</mat-radio-group>


<!-- <div [formGroup]="form">
   <mat-label style="color: blueviolet; font-size: 12px">{{field.label}}</mat-label>
  <br>
  <mat-radio-group [formControlName]="field.key">
    <mat-radio-button *ngFor="let item of field.items" [value]="item.value"
                      class="radio-button">
      {{item.nameBn}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="disable">
    <div *ngFor="let item of field.items">
      <p *ngIf="item.value === field.tempValue">(পেন্ডিং: {{item.nameBn}})</p>
    </div>
  </div>
</div> -->
