
<table class="ui celled table">
  <thead>
    <tr>
      <th *ngFor="let header of headers;let i = index">
      {{header.key}}
      </th>
  </tr></thead>
  <tbody>
    <tr *ngFor="let obj of data;let i = index">
      <td >{{obj.name}}</td>
      <td >{{obj.age}}</td>
      <td >{{obj.job}}</td>
    </tr>
  </tbody>
</table>
