
<form class="ui form" (submit)="onFormSubmit($event)">
  <div  class="field">
    <label>Search:</label>
    <input type="text" name="search" placeholder="search" (input)="getInputValue($event.target.value)" />
  </div>


</form>
