/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'semantic-ui-css/semantic.css';
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
